<!-- statistics -->
<div id="statistics" class="card shadow">
    <div class="content">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <div class="title">Daily Stats</div>
                <div class="ingress text-sub">1 000 000 messages sent</div>
            </div>
            <span class="sync-icon">
                <i class="fas fa-sync-alt"></i>
            </span>
        </div>

        <div class="stats mt-4">
            <!-- stat-list-item -->
            <div class="stat-list-item mb-3">
                <div class="stat-item">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <i class="fas fa-microchip"></i>
                    </div>
                    <div>
                        <div class="title">Total Devices</div>
                        <div class="ingress">Total Devices</div>
                    </div>
                </div>
                <div class="stat">
                    5
                </div>
            </div>

            <!-- stat-list-item -->
            <div class="stat-list-item mb-3">
                <div class="stat-item">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <i class="fas fa-microchip"></i>
                    </div>
                    <div>
                        <div class="title">New Devices</div>
                        <div class="ingress">Number of new devices</div>
                    </div>
                </div>
                <div class="stat">
                    0
                </div>
            </div>

            <!-- stat-list-item -->
            <div class="stat-list-item mb-3">
                <div class="stat-item">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <i class="fas fa-microchip"></i>
                    </div>
                    <div>
                        <div class="title">C2D Count</div>
                        <div class="ingress">Cloud 2 Device messages</div>
                    </div>
                </div>
                <div class="stat">
                    56
                </div>
            </div>


        </div>

    </div>
    <div class="footer">
        <img src="images/yellow-line.jpg" class="card-img-top" alt="yellow-line">
    </div>
</div>

@code {

}
